[submodule "concepts/nft-staking/contracts/lib/forge-std"]
	path = concepts/nft-staking/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "concepts/nft-staking/contracts/lib/openzeppelin-contracts"]
	path = concepts/nft-staking/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
